.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-layout__content {
  flex: 1;
  min-width: 0;
}

@media (min-width: 681px) {
  .app-layout {
    display: block;
  }

  .app-layout__content {
    min-height: 100vh;
    margin-left: var(--sidebar-width);
    overflow-y: auto;
  }
}
